
	<header class="menu-bar main-header">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-7 align-self-start">
					<a href="/"><img src="images/dest/logo.png" alt="tris" class="logo"></a>
				</div>
				<div class="col-xl-8 col-lg-8 col-md-7 col-sm-6 col-5 ml-auto align-self-start">
					<nav class="navbar navbar-expand-lg navbar-light justify-content-end">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
							<ul class="navbar-nav menu d-flex justify-content-end">
								<li class="nav-item menu__item justify-content-end ml-auto">
									<a class="nav-link" href="catalog.html">Каталог</a>
								</li>
								<li class="nav-item menu__item justify-content-end ml-auto">
									<a class="nav-link" href="#">Информация</a>
								</li>
								<li class="nav-item menu__item justify-content-end ml-auto">
									<a class="nav-link" href="#">Контакты</a>
								</li>
								<li class="nav-item menu__item justify-content-end ml-auto">
									<a class="nav-link d-lg-none d-xl-block" href="tel:+79534682844">+7 (953) 468-28-44</a>
								</li>

								<li class="nav-item justify-content-end ml-auto align-self-center">
									<a class="nav-link" href="#"> <i class="pe-7s-map-marker"></i>Москва</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>
<div >
  <div [appStoryblok]="_editable">
    <div *ngFor="let blok of body">
      <ndc-dynamic *ngIf="components"
                   [ndcDynamicComponent]="components[blok.component]"
                   [ndcDynamicInputs]="blok">
      </ndc-dynamic>
    </div>
  </div>
</div>
